# Environment & Secrets (Ignore ALL .env, .env.*, .env.example, and env variants anywhere)
.env
.env.*
*.env
*.env*
.env.example
*.example

# Dependencies
node_modules
/node_modules
/backend/node_modules
/website/node_modules

# Operating System Files
.DS_Store
Thumbs.db
