# Backend Server Port
PORT=5000

# Groq API Key (REQUIRED for AI Comment Generation)
GROQ_API_KEY=gsk_your_groq_api_key_here

# Groq Default Model
DEFAULT_GROQ_MODEL=llama-3.1-8b-instant

# Firebase Configuration
FIREBASE_PROJECT_ID=eloquix-609b8
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=

# Razorpay Keys & Webhook Secret
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
RAZORPAY_WEBHOOK_SECRET=

# Razorpay Payment Links
RAZORPAY_PRO_LINK_INR=https://rzp.io/rzp/hcA5ffEW
RAZORPAY_ULTRA_LINK_INR=https://rzp.io/rzp/9gxUjX5
RAZORPAY_PRO_LINK_USD=https://rzp.io/rzp/twQPHug
RAZORPAY_ULTRA_LINK_USD=https://rzp.io/rzp/7d2rZJB

# Google OAuth Client ID
GOOGLE_OAUTH_CLIENT_ID=523401799544-94cgm4rc47ejg5u03m9cttch1g44c330.apps.googleusercontent.com
